/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
/*----- Main -----*/
.main {
  height: 70vh;
  margin-bottom: 15vh;
  overflow: hidden;
  position: relative;
  top: 15vh; }

.main__bg {
  background-image: url("../images/bud1.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%; }

/*----- Play Button ------*/
.play__btn_company {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*----- /Play Button ------*/
/*----- /Main -----*/
.about,
.gallery {
  position: relative;
  top: 15vh;
  height: 70vh;
  margin-bottom: 15vh; }

.aboutTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70vh; }

.aboutTxt__wrap {
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.about__head {
  display: inline-block;
  color: #dedddd;
  font-size: 8.9em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0; }

.about__txt {
  color: #333333;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 10%; }

.aboutNums__wrap {
  width: 50%;
  position: relative;
  background-color: #e4e4e4; }

.aboutNums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10% 0; }

.aboutNum__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 8% 4%; }

.about__num {
  color: #cc2a3a;
  font-size: 6.25em;
  font-weight: 800;
  line-height: 1em;
  margin: 0 3% 0 0; }

.aboutNum__txt {
  color: #434242;
  font-family: 'Code Pro';
  font-size: 1.9em;
  line-height: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0; }

.aboutGallery__wrap {
  padding: 5% 5%;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.aboutGallery {
  width: 55%;
  position: relative; }

.galleryHead__wrap {
  width: 50%;
  padding: 5% 0 5% 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

@media only screen and (max-width: 1700px) {
  .about__num {
    font-size: 5em; }
  .aboutNum__txt {
    font-size: 1.5em; }
  .main__head_gallery {
    font-size: 3.2em; } }

@media only screen and (max-width: 1500px) {
  .about__num {
    font-size: 4.8em; }
  .aboutNum__txt {
    font-size: 1.3em; }
  .main__head_gallery {
    font-size: 2.8em; } }

@media only screen and (max-width: 1400px) {
  .about__num {
    font-size: 4.6em; }
  .aboutNum__txt {
    font-size: 1.2em; }
  .main__head_gallery {
    font-size: 2.6em; } }

@media only screen and (max-width: 1400px) and (max-height: 799px) {
  .about__txt {
    font-size: 1.1em; } }

@media only screen and (max-width: 1300px) {
  .about__num {
    font-size: 4.5em; }
  .aboutNum__txt {
    font-size: 1.15em; }
  .main__head_gallery {
    font-size: 2.5em; } }

@media only screen and (max-width: 1200px) {
  .about,
  .gallery,
  .aboutTxt,
  .aboutGallery__wrap {
    height: auto; }
  .main,
  .about,
  .gallery {
    margin-bottom: 0; } }

@media only screen and (max-width: 1025px) {
  .main,
  .main__bg {
    height: 85vh; }
  .about {
    width: 94%;
    margin: 0 auto; }
  .aboutTxt {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .aboutTxt .main__head {
      padding-top: 5%; }
  .aboutTxt__wrap {
    padding-right: 0;
    width: 100%; }
  .about__txt {
    padding: 0;
    font-size: 1.25em; }
  .aboutNums__wrap {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%; }
  .aboutNums {
    margin: 0; }
  .aboutNum__item {
    padding: 5% 5%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .about__num {
    margin: 0 5% 0 0;
    font-size: 6.25em; }
  .aboutNum__txt {
    font-size: 1.9em; }
  .aboutGallery__wrap {
    padding: 4% 3%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .aboutGallery {
    width: 85%;
    margin: 0 auto; }
  .galleryHead__wrap {
    width: 100%;
    padding: 0 0 5%; }
  .main__head_gallery {
    font-size: 3.6em;
    text-align: center; }
  .footer {
    margin-top: 0; } }

@media only screen and (max-width: 820px) {
  .about__num {
    font-size: 6em; }
  .aboutNum__txt {
    font-size: 1.5em; }
  .aboutNum__item {
    padding: 4% 5%; }
  .aboutGallery {
    width: 56%; } }

@media only screen and (max-width: 770px) {
  .aboutNum__item {
    padding: 4%; } }

@media only screen and (max-width: 770px) and (orientation: portrait) {
  .main {
    margin-bottom: 10vh;
    top: 8vh;
    height: 82vh;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%; }
  .main__bg {
    height: 82vh; }
  .about,
  .gallery {
    top: 0; }
  .aboutTxt .main__head {
    padding-top: 1%; }
  .aboutGallery {
    width: 100%; } }

@media only screen and (max-width: 740px) {
  .about__num {
    font-size: 5em; } }

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .aboutGallery {
    width: 70%; } }

@media only screen and (max-width: 670px) {
  .about__num {
    font-size: 4.5em; }
  .aboutNum__txt {
    font-size: 1.45em; }
  .aboutGallery {
    width: 65%; } }

@media only screen and (max-width: 650px) {
  .about__num {
    font-size: 4em; } }

@media only screen and (max-width: 481px) {
  .aboutNums {
    padding: 4%; }
  .aboutNum__item {
    width: 100%;
    padding: 2% 0 0; }
  .about__num {
    font-size: 6.25em; }
  .aboutNum__txt {
    font-size: 1.9em; }
  .main__head_gallery {
    font-size: 2.5em; }
  .aboutGallery {
    width: 75%; } }

@media only screen and (max-width: 420px) {
  .aboutGallery {
    width: 100%; }
  .main__head_gallery {
    font-size: 2.3em; } }

@media only screen and (max-width: 380px) {
  .about__num {
    font-size: 5em; }
  .aboutNum__txt {
    font-size: 1.8em; }
  .main__head_gallery {
    font-size: 2.1em; } }

@media only screen and (max-width: 370px) {
  .aboutNum__txt {
    font-size: 1.5em; }
  .main__head_gallery {
    font-size: 2em; } }

@media only screen and (max-width: 350px) {
  .about__num {
    font-size: 4.5em; }
  .main__head_gallery {
    font-size: 1.8em; } }
