/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
.nav__wrap_arenda {
  background-color: #333333; }
  .nav__wrap_arenda .nav__link {
    color: #fff; }
  .nav__wrap_arenda .nav__link_active {
    color: #fff; }
  .nav__wrap_arenda .navDropdown {
    background-color: #333333; }
    .nav__wrap_arenda .navDropdown:before {
      background-color: #333333; }
  .nav__wrap_arenda .navDropdown__link {
    color: #fff;
    font-weight: 400; }
    .nav__wrap_arenda .navDropdown__link:hover {
      font-weight: 700; }

.pagination_arenda {
  height: 70vh; }
  .pagination_arenda .pag__bg {
    height: 71vh;
    background-color: #333333; }

.arenda,
.rooms {
  position: relative;
  top: 15vh;
  height: 70vh;
  margin-bottom: 15vh; }

.arenda {
  z-index: 2; }

.arenda__video {
  position: relative;
  height: 60vh;
  overflow: hidden; }

.arendaVideo__cover {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.play__btn_arenda {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.section__wrap_arenda {
  padding-bottom: 10vh; }

.arenda__txt {
  position: absolute;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 58.14%;
  padding-left: 14%;
  padding-right: 7%;
  background-color: #333333;
  z-index: -1;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.arendaTxt {
  position: relative;
  width: 100%;
  height: 100%; }

.arenda__txt_scroll {
  background-color: #f4f3f3; }

.main__head_gallery {
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

.arenda__table {
  width: 100%; }

.arendaTable__txt {
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 1em; }
  .arendaTable__txt:first-child {
    font-weight: 700;
    padding-right: 6%; }

.rooms__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85.71%; }

.room__wrap {
  position: relative;
  height: 70vh;
  text-decoration: none;
  color: #787575;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  width: 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #dedddd; }
  .room__wrap:first-child {
    border-left: 1px solid #dedddd; }

.room__num {
  color: #cc2a3a;
  font-size: 8.3em;
  line-height: 1em;
  font-weight: 800;
  padding: 0;
  margin: 0; }

.room__floor {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2em; }

.room__txt {
  margin: 0; }

.room__val {
  font-weight: 700; }

.room__num,
.room__floor,
.room__txt,
.roomImg {
  margin-left: 25%; }

.roomImg {
  position: relative;
  width: 75%;
  margin-top: 1em;
  height: 0;
  padding-bottom: 42.2%;
  overflow: hidden; }

.room__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: auto; }

.arendaSvg {
  position: fixed;
  right: 7%;
  top: 15vh;
  width: 7%;
  height: 75vh;
  opacity: 0;
  -webkit-transition: all 0.25s 0s;
  -o-transition: all 0.25s 0s;
  transition: all 0.25s 0s; }

.arendaSvg_shown {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.arendaSvg__wrap {
  position: relative;
  width: 0;
  height: 100%;
  padding-left: 100%;
  z-index: -1; }

.arenda__svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }

.arendaSvg__txt {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-size: 180px;
  fill: #dedddd;
  -webkit-writing-mode: tb;
  -ms-writing-mode: tb;
  writing-mode: tb;
  glyph-orientation-vertical: 0; }

@media only screen and (max-width: 1530px) {
  .main__head_gallery {
    font-size: 3em; } }

@media only screen and (max-width: 1199px) {
  .section__wrap_arenda {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .rooms {
    height: auto;
    margin-bottom: 10vh; }
  .rooms__wrap {
    width: 97%;
    margin: 0 auto; }
  .arendaSvg {
    display: none; }
  .room__wrap {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%; }
  .footer {
    top: 0; } }

@media only screen and (max-width: 1025px) {
  .arenda {
    margin-bottom: 10vh;
    height: auto; }
  .arenda__txt {
    position: relative;
    width: 94%;
    padding-left: 7%;
    padding-bottom: 5%;
    z-index: 1; }
  .section__wrap_arenda {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .main__head_gallery {
    font-size: 3.6em; }
  .room__num,
  .room__floor,
  .room__txt,
  .roomImg {
    margin-left: 10%; }
  .roomImg {
    width: 90%;
    padding-bottom: 50.63%; } }

@media only screen and (max-width: 1025px) and (orientation: landscape) {
  .arendaVideo__cover {
    width: 100%;
    height: auto; } }

@media only screen and (max-width: 650px) {
  .rooms {
    margin-bottom: 0; }
  .rooms__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .room__wrap {
    border-bottom: 1px solid #dedddd;
    width: 94%;
    border-right: none;
    padding-bottom: 3%;
    padding-top: 3%; }
    .room__wrap:first-child {
      border-left: none; }
  .room__num,
  .room__floor,
  .room__txt,
  .roomImg {
    margin-left: 0; }
  .roomImg {
    width: 100%;
    padding-bottom: 56.25%; }
  .footer {
    margin-top: 15vh; } }

@media only screen and (max-width: 481px) {
  .arendaTable__txt {
    display: block; }
  .footer {
    margin-top: 0; }
  .main__head_gallery {
    font-size: 2.5em; } }

@media only screen and (max-width: 420px) {
  .arenda__txt {
    padding-left: 5%;
    padding-right: 5%; }
  .room__wrap {
    padding-bottom: 5%; } }

@media only screen and (max-width: 770px) and (orientation: portrait) {
  .arenda,
  .rooms {
    top: 8vh; } }

@media only screen and (max-width: 380px) {
  .main__head_gallery {
    font-size: 2em; } }
