/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
body {
  background-color: #f4f3f3;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: 400; }

.container {
  width: 86%;
  margin: 0 auto; }

.main__txt {
  font-size: 1.11em;
  line-height: 1.5em;
  color: #333333;
  font-weight: 400; }

/*----- Header -----*/
.header {
  height: 15vh;
  width: 100%;
  background-color: #f4f3f3;
  position: fixed;
  top: 0;
  z-index: 100; }

.logo {
  display: inline-block;
  margin-top: 5vh;
  margin-left: 5%; }

.logo__link {
  display: inline-block;
  width: 24vh;
  height: 6vh;
  background-image: url("../images/logos/InorRuBlk.png");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -1000px; }

/*----- Menu -----*/
.nav__wrap {
  display: inline-block;
  float: right;
  width: 57%;
  height: 9vh;
  padding-top: 6vh;
  background-color: transparent;
  -webkit-transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 5%;
  position: relative; }

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #9b9b9b;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
  -webkit-transition: color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s; }
  .nav__link:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #cc2a3a;
    -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1); }
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 40%;
    height: 3px;
    background-color: #cc2a3a;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .nav__link:hover:before {
    left: 100%; }
  .nav__link:hover:after {
    left: 60%; }

.nav__link_active {
  color: #333333; }
  .nav__link_active:after {
    left: 60%; }

/*----- DropDown Menu -----*/
.nav__dropdown {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 210px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .nav__dropdown:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    background-color: #cc2a3a;
    top: -3px;
    right: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1); }

.navDropdown__wrap {
  overflow: hidden;
  position: relative; }

.navDropdown {
  list-style: none;
  padding: 0;
  background-color: #f4f3f3;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.navDropdown__item {
  opacity: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.navDropdown__link {
  display: block;
  text-decoration: none;
  color: #9b9b9b;
  line-height: 2.5em;
  text-align: center; }
  .navDropdown__link:hover {
    color: #333333; }

.nav__dropdown_opened {
  visibility: visible;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }
  .nav__dropdown_opened:before {
    width: 100%;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  .nav__dropdown_opened .navDropdown {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .nav__dropdown_opened .navDropdown__item {
    opacity: 1; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(1) {
      -webkit-transition-delay: 0.57s;
      -o-transition-delay: 0.57s;
      transition-delay: 0.57s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(2) {
      -webkit-transition-delay: 0.64s;
      -o-transition-delay: 0.64s;
      transition-delay: 0.64s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(3) {
      -webkit-transition-delay: 0.71s;
      -o-transition-delay: 0.71s;
      transition-delay: 0.71s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(4) {
      -webkit-transition-delay: 0.78s;
      -o-transition-delay: 0.78s;
      transition-delay: 0.78s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(5) {
      -webkit-transition-delay: 0.85s;
      -o-transition-delay: 0.85s;
      transition-delay: 0.85s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(6) {
      -webkit-transition-delay: 0.92s;
      -o-transition-delay: 0.92s;
      transition-delay: 0.92s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(7) {
      -webkit-transition-delay: 0.99s;
      -o-transition-delay: 0.99s;
      transition-delay: 0.99s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(8) {
      -webkit-transition-delay: 1.06s;
      -o-transition-delay: 1.06s;
      transition-delay: 1.06s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(9) {
      -webkit-transition-delay: 1.13s;
      -o-transition-delay: 1.13s;
      transition-delay: 1.13s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(10) {
      -webkit-transition-delay: 1.2s;
      -o-transition-delay: 1.2s;
      transition-delay: 1.2s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(11) {
      -webkit-transition-delay: 1.27s;
      -o-transition-delay: 1.27s;
      transition-delay: 1.27s; }
    .nav__dropdown_opened .navDropdown__item:nth-of-type(12) {
      -webkit-transition-delay: 1.34s;
      -o-transition-delay: 1.34s;
      transition-delay: 1.34s; }

/*----- /DropDown Menu -----*/
/*----- Main Menu -----*/
.nav__wrap_main {
  background-color: #cc2a3a; }
  .nav__wrap_main .nav__link {
    color: #fff; }
    .nav__wrap_main .nav__link:before {
      background-color: #fff; }
    .nav__wrap_main .nav__link:after {
      background-color: #fff; }
  .nav__wrap_main .nav__link_active {
    color: #fff; }
  .nav__wrap_main .nav__dropdown:before {
    background-color: #fff; }
  .nav__wrap_main .nav__dropdown .navDropdown {
    background-color: #cc2a3a; }
  .nav__wrap_main .nav__dropdown .navDropdown__link {
    color: #fff;
    font-weight: 400; }
    .nav__wrap_main .nav__dropdown .navDropdown__link:hover {
      font-weight: 700; }

/*----- /Main Menu -----*/
/*----- /Menu -----*/
/*----- Mobile Menu -----*/
.mobileMenu__btn {
  display: none; }

.mobile__menu {
  display: none; }

/*----- /Mobile Menu -----*/
/*----- /Header -----*/
/*----- Langueges -----*/
.langueges {
  position: fixed;
  top: 15vh;
  width: 7%;
  height: 75vh; }

.navLang {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.lang__item {
  height: 44px;
  width: 44px;
  margin-bottom: 8px; }

.lang__item:last-child {
  margin-bottom: 0; }

.lang__link {
  display: inline-block;
  font-size: 1em;
  color: #9b9b9b;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 44px;
  width: 44px;
  text-align: center; }

.lang__link_active {
  color: #333333; }

/*----- /Langueges -----*/
/*----- Pagination -----*/
.pagination {
  position: fixed;
  top: 15vh;
  width: 7%;
  height: 75vh;
  right: 0;
  z-index: 100; }

.pag__bg {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #f4f3f3;
  -webkit-transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s; }

.navPag {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.pag__item {
  height: 44px;
  width: 44px;
  margin-bottom: 8px; }

.pag__item:last-child {
  margin-bottom: 0; }

.pag__link {
  display: inline-block;
  font-size: 1em;
  color: #9b9b9b;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 44px;
  width: 44px;
  text-align: center;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s; }

.pag__link_active {
  color: #fff;
  font-size: 1.56em;
  background-color: #cc2a3a;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 1, 2, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(0, 1, 2, 0.7); }

.pagination_main .pag__bg {
  background-color: #cc2a3a; }

.pagination_main .pag__link {
  color: #fbfbfb; }

.pag__arrow {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  width: 44px;
  height: 44px; }

.arrow_down {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzlCOUI5Qjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTExNC43LDEuMnYzMjMuMWwtODEuOS04MS45TDEsMjc0LjNsMTM2LjUsMTM2LjVMMjc0LDI3NC4zbC0zMS45LTMxLjlsLTgxLjksODEuOVYxLjJIMTE0Ljd6IE0xMTQuNywxLjIiLz4KPC9nPgo8L3N2Zz4=); }

.arrow_up {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzlCOUI5Qjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTE2MC4zLDQxMC44Vjg3LjdsODEuOSw4MS45bDMxLjktMzEuOUwxMzcuNSwxLjJMMSwxMzcuN2wzMS45LDMxLjlsODEuOS04MS45djMyMy4xSDE2MC4zeiBNMTYwLjMsNDEwLjgiLz4KPC9nPgo8L3N2Zz4=); }

.pag__arrow.arrow_up {
  display: none; }

.arrow_right {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMSwxNjAuM2gxMTI3LjZsLTgxLjksODEuOWwzMS45LDMxLjlMMTIxNSwxMzcuNUwxMDc4LjUsMWwtMzEuOSwzMS45bDgxLjksODEuOUgxVjE2MC4zeiIvPgo8L2c+Cjwvc3ZnPg==); }

.arrow_left {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIxNSwxMTQuN0g4Ny40bDgxLjktODEuOUwxMzcuNSwxTDEsMTM3LjVMMTM3LjUsMjc0bDMxLjktMzEuOWwtODEuOS04MS45SDEyMTVWMTE0Ljd6Ii8+CjwvZz4KPC9zdmc+); }

.arrow_down,
.arrow_up,
.arrow_right,
.arrow_left {
  background-repeat: no-repeat;
  background-position: center; }

/*----- /Pagination -----*/
/*----- Play Button ------*/
.play__btn {
  position: absolute;
  z-index: 10;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 14px;
  height: 18px;
  border-radius: 50%;
  padding: 26px 25px 26px 31px; }
  .play__btn:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 65px;
    height: 65px;
    background-color: #cc2a3a;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite; }
  .play__btn:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 65px;
    height: 65px;
    background-color: #cc2a3a;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }
  .play__btn span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 14px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }

.playBtn:hover .play__btn span {
  border-left: 14px solid #cc2a3a; }

.playBtn:hover .play__btn:after {
  background-color: #fff; }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

/*----- /Play Button ------*/
.arrow_right_wht {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuMiwxNjAuM2gzMjMuMWwtODEuOSw4MS45bDMxLjksMzEuOWwxMzYuNS0xMzYuNUwyNzQuMywxbC0zMS45LDMxLjlsODEuOSw4MS45SDEuMlYxNjAuM3ogTTEuMiwxNjAuMyIvPgo8L2c+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center; }

/*----- Footer ------*/
.footer {
  position: relative;
  top: 15vh;
  margin-top: 35vh; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contact__head {
  font-weight: 700;
  font-size: 1.88em;
  line-height: 1.5em;
  color: #333333;
  text-transform: uppercase;
  margin: 0; }

.contact__txt {
  display: inline-block;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1em;
  color: #9b9b9b;
  margin: 0; }

.footer__nav {
  margin-top: 10%;
  margin-bottom: 10%; }

.footerNav {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footerNav__item {
  list-style: none; }

.footerNav__link {
  font-weight: 700;
  font-size: 1em;
  color: #9b9b9b;
  text-decoration: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .footerNav__link:hover {
    color: #333333; }

/*----- /Footer ------*/
@media only screen and (max-width: 1199px) {
  .container {
    width: 100%; }
  .header {
    position: absolute; }
  .nav__wrap,
  .langueges,
  .pagination {
    display: none; }
  /*----- Mobile Menu -----*/
  .mobileMenu__btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 15vh;
    margin-right: 5%; }
  .sandwich__btn {
    display: block;
    width: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .sandwich__line {
    display: block;
    position: relative;
    left: 14px;
    background-color: #cc2a3a;
    width: 30px;
    height: 4px;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    .sandwich__line:before, .sandwich__line:after {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      background-color: #cc2a3a;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }
    .sandwich__line:before {
      top: -10px;
      left: -14px;
      width: 44px; }
    .sandwich__line:after {
      top: 10px;
      right: 0;
      width: 16px; }
  .sandwich__btn_close .sandwich__line {
    background-color: transparent; }
    .sandwich__btn_close .sandwich__line:before {
      top: 0;
      left: -14px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sandwich__btn_close .sandwich__line:after {
      top: 0;
      right: 0;
      width: 44px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .mobile__menu {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 15vh;
    width: 100%;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
  .menuMobile__wrap {
    background-color: #f4f3f3;
    padding-top: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 1s 0.25s;
    -o-transition: all 1s 0.25s;
    transition: all 1s 0.25s; }
  .menuMobile,
  .mobile__lang {
    list-style: none;
    padding: 0;
    margin: 0 auto; }
  .nav__item_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0.8em;
    opacity: 0;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .nav__item_mobile .nav__dropdown {
      position: relative;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      .nav__item_mobile .nav__dropdown:before {
        width: 0; }
    .nav__item_mobile .nav__dropdown_opened {
      height: 100%; }
  .nav__link_mobile {
    margin: 0 auto; }
  .mobile__lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 5% auto;
    opacity: 0;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
  .mobile__menu_opened {
    visibility: visible;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    .mobile__menu_opened .menuMobile__wrap {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
    .mobile__menu_opened .nav__item_mobile {
      opacity: 1; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(1) {
        -webkit-transition-delay: 0.57s;
        -o-transition-delay: 0.57s;
        transition-delay: 0.57s; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(2) {
        -webkit-transition-delay: 0.64s;
        -o-transition-delay: 0.64s;
        transition-delay: 0.64s; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(3) {
        -webkit-transition-delay: 0.71s;
        -o-transition-delay: 0.71s;
        transition-delay: 0.71s; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(4) {
        -webkit-transition-delay: 0.78s;
        -o-transition-delay: 0.78s;
        transition-delay: 0.78s; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(5) {
        -webkit-transition-delay: 0.85s;
        -o-transition-delay: 0.85s;
        transition-delay: 0.85s; }
      .mobile__menu_opened .nav__item_mobile:nth-of-type(6) {
        -webkit-transition-delay: 0.92s;
        -o-transition-delay: 0.92s;
        transition-delay: 0.92s; }
    .mobile__menu_opened .mobile__lang {
      opacity: 1;
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s; }
  /*----- /Mobile Menu -----*/
  .contacts,
  .footer__nav {
    padding: 0 5%; }
  .footer__contacts {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; } }

@media only screen and (max-width: 600px) {
  .contacts {
    margin-bottom: 10vh; }
  .footer__nav {
    display: none; } }

@media only screen and (max-width: 1050px) {
  .footer {
    margin-top: 20vh; } }

@media only screen and (max-width: 950px) {
  .footer {
    margin-top: 15vh; } }
