/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
/*----- Main -----*/
.main {
  height: 75vh;
  margin-bottom: 10vh;
  overflow: hidden;
  position: relative;
  top: 15vh; }

.main__bg {
  background-image: url("../images/bud3.jpg");
  background-size: cover;
  background-position: top left;
  height: 75vh;
  width: 100%; }

/*----- Play Button ------*/
.playBtn {
  color: #fff;
  text-decoration: none; }

.playBtn__txt {
  display: inline-block;
  position: absolute;
  top: 45%;
  margin: 0;
  margin-left: 10%;
  padding-left: 105px;
  font-size: 1.89em;
  line-height: 70px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #9b9b9b; }

.play__btn_main {
  top: 45%;
  margin-left: 10%; }

/*----- /Play Button ------*/
/*----- /Main -----*/
.object {
  height: 85vh;
  position: relative;
  top: 15vh; }

.object__wrap {
  background-color: #e8e8e8; }

.objectTxt {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-left: 5%;
  padding-bottom: 3%;
  padding-top: 3%; }

.object__head {
  color: #333333;
  font-size: 3.5em;
  line-height: 0.9em;
  font-weight: 800;
  margin: 0; }

.object__txt {
  color: #707073;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 400; }

.object__txt_sup {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 800; }
