/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
.room {
  height: 70vh;
  margin-bottom: 15vh;
  overflow: hidden;
  position: relative;
  top: 15vh;
  background-color: #333333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 7%;
  padding-right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.roomGallery {
  width: 50%; }

.roomTxt {
  width: 50%;
  height: 100%;
  max-height: 60vh;
  overflow: hidden;
  position: relative; }

.roomTxt__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px;
  overflow-y: scroll;
  padding-left: 7%; }

.room__head {
  color: #fbfbfb;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.1em;
  margin: 0 0 0.5em; }

.room__txt {
  color: #d7d7d7;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 2.2em;
  margin: 0; }

.roomList__head {
  color: #fbfbfb;
  font-size: 1em;
  font-weight: 700;
  line-height: 2.5em;
  list-style: none;
  margin: 0;
  padding: 0; }

.roomList {
  list-style: none;
  margin: 0;
  padding: 0; }

.roomList__item {
  color: #d7d7d7;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.7em; }
  .roomList__item:before {
    content: "-";
    padding-right: 0.5em; }

.room__val {
  color: #fbfbfb;
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  margin: 0; }

.room__pdf {
  color: #333333;
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
  background-color: #9e9d9d;
  border: none;
  padding: 1% 7%;
  margin-top: 1em; }
  .room__pdf:focus {
    outline: none; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-top-color: #cc2a3a;
  border-radius: 50%;
  -webkit-animation: spin 0.8s ease infinite;
  animation: spin 0.8s ease infinite; }

@media only screen and (min-width: 1025px) and (max-height: 800px) {
  .room__head {
    font-size: 1.5em; }
  .room__txt,
  .roomList__item,
  .room__val {
    line-height: 1.5em; }
  .roomList__head {
    line-height: 2em; } }

@media only screen and (max-width: 1025px) {
  .room {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0; }
  .roomGallery {
    width: 90%; }
  .roomTxt {
    max-height: none;
    width: 100%;
    margin-top: 10%; }
  .roomTxt__wrap {
    padding-left: 0;
    position: relative;
    right: 0; } }

@media only screen and (max-width: 820px) and (orientation: landscape) {
  .room {
    padding: 3%; }
  .roomGallery {
    width: 50%; } }

@media only screen and (max-width: 770px) and (orientation: portrait) {
  .room {
    top: 8vh;
    padding-left: 3%;
    padding-right: 3%; }
  .roomGallery {
    width: 100%; } }

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .roomGallery {
    width: 60%; } }

@media only screen and (max-width: 740px) and (orientation: portrait) {
  .room__pdf {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 500px) and (orientation: landscape) {
  .roomGallery {
    width: 70%; } }
