/*----- Variables -----*/
/*----- Colors -----*/
/*----- /Colors -----*/
/*----- /Variables -----*/
.nav__item_vacancy {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10%; }
  .nav__item_vacancy .nav__link {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 8px; }
    .nav__item_vacancy .nav__link:before {
      top: -100%;
      left: 0; }
    .nav__item_vacancy .nav__link:after {
      height: 40%;
      width: 3px;
      left: 0;
      bottom: 100%; }
    .nav__item_vacancy .nav__link:hover:before {
      left: 0;
      top: 100%; }
    .nav__item_vacancy .nav__link:hover:after {
      left: 0;
      bottom: 60%; }
  .nav__item_vacancy .nav__link_active:after {
    left: 0;
    bottom: 60%; }

.main {
  height: 70vh;
  margin-bottom: 15vh;
  overflow: hidden;
  position: relative;
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main__head_main {
  color: #333333;
  font-size: 6em;
  width: 42%; }

.mainTxt__wrap {
  background-color: #dedddd;
  width: 58%;
  height: 100%;
  position: relative; }

.mainTxt {
  color: #333333;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 2em;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0; }

.vacancies {
  position: relative;
  top: 15vh;
  margin-bottom: 15vh; }

.vacancies__wrap {
  width: 85%; }

.vacancy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #dedddd;
  padding-top: 5%;
  padding-bottom: 5%; }
  .vacancy:first-child {
    border-top: 1px solid #dedddd; }

.vacancy__num {
  color: #cc2a3a;
  font-size: 5.6em;
  font-weight: 800;
  margin: 0;
  width: 10%; }

.vacancy__head {
  color: #787575;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  width: 22%; }

.vacancyTxt__wrap {
  width: 45%; }

.vacancy__txt,
.vaancy__list {
  color: #787575;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0; }

.vacancyBtn__wrap {
  width: 5%; }

.info__btn {
  color: #fff;
  background-color: #cc2a3a;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
  padding: 2em 0.7em;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.vacanciesHead {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 7%;
  margin-top: 15vh;
  width: 7%;
  height: 85vh;
  opacity: 1;
  z-index: -1;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.vacanciesHead_hide {
  opacity: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.vacancies__head {
  color: #dedddd;
  font-size: 5.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-transform: uppercase; }

.info {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 7%;
  width: 79%;
  padding: 5% 7%;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); }

.main__head_info {
  color: #121212;
  font-size: 1.7em;
  line-height: 0.9em;
  text-transform: none; }

.info__subHead {
  color: #121212;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.25em;
  text-transform: uppercase; }

.main__txt_info {
  color: #989898;
  font-size: 1em;
  line-height: 1.25em; }

.info__listWrap {
  width: 82%; }

.info__list {
  list-style: none;
  padding: 0; }
  .info__list li {
    color: #989898;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.25em; }

.info__closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  padding: 22px;
  margin: 1%;
  border-radius: 50%;
  background-color: #cc2a3a;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .info__closeBtn span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .info__closeBtn:hover {
    background-color: #333333;
    color: #cc2a3a; }

@media only screen and (max-width: 1700px) {
  .main__head_main {
    font-size: 5.5em; } }

@media only screen and (max-width: 1600px) {
  .main__head_main {
    font-size: 5em; } }

@media only screen and (max-width: 1500px) {
  .main__head_main {
    font-size: 4.5em; } }

@media only screen and (max-width: 1300px) {
  .main__head_main {
    font-size: 4em; } }

@media only screen and (max-width: 1200px) {
  .main__head_main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2%;
    font-size: 3.6em; }
  .vacancies__wrap {
    width: 90%;
    margin: 0 auto; }
  .vacanciesHead {
    display: none; }
  .info {
    width: 94%;
    margin: 15px 3%; } }

@media only screen and (max-width: 1025px) {
  .main {
    height: 60vh; } }

@media only screen and (max-width: 820px) {
  .main {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0; }
  .main__head_main {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0.67em;
    margin-top: 0.67em; }
  .mainTxt__wrap {
    width: 100%;
    height: 40vw; }
  .vacancies {
    margin-bottom: 5%; }
  .vacancy {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .vacancy__num {
    width: 15%; }
  .vacancy__head {
    width: 60%;
    font-size: 1.5em; }
  .vacancyTxt__wrap {
    width: 100%; }
  .vacancyBtn__wrap {
    position: relative;
    width: 100%;
    height: 2em;
    margin-top: 5%; }
  .info__btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0.7em 2em;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb; } }

@media only screen and (max-width: 770px) and (orientation: portrait) {
  .main {
    top: 8vh; } }

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .mainTxt__wrap {
    height: 85vh; } }

@media only screen and (max-width: 490px) {
  .vacancy__head {
    font-size: 1.3em; } }

@media only screen and (max-width: 420px) and (orientation: portrait) {
  .mainTxt__wrap {
    height: 100vw; }
  .mainTxt {
    width: 90%; }
  .vacancy {
    padding-top: 10%;
    padding-bottom: 15%; }
  .vacancy__num {
    width: 30%; }
  .vacancy__head {
    width: 67%; } }

@media only screen and (max-width: 380px) {
  .mainTxt {
    font-size: 1.1em; }
  .main__head_main {
    font-size: 3.5em; }
  .vacancy__num {
    font-size: 5em; }
  .vacancy__head {
    font-size: 1.2em; } }

@media only screen and (max-width: 330px) {
  .mainTxt__wrap {
    height: 60vh; }
  .main__head_main {
    font-size: 3em; }
  .vacancy__num {
    font-size: 4em;
    width: 28%; }
  .vacancy__head {
    font-size: 1.1em;
    width: 70%; } }
