/*----- Variables -----*/

	/*----- Colors -----*/
$red: #cc2a3a;
$bg: #f4f3f3;
$txtMain: #fff;
$txt: #333333;
$txtSub: #9b9b9b;
$txtMainSub: #fbfbfb;
$svgTxt: #dedddd;
$txtRoom: #787575;
	/*----- /Colors -----*/

$timing-one: cubic-bezier(0.86, 0, 0.07, 1);
$timing-two: cubic-bezier(0.23, 1, 0.32, 1);
/*----- /Variables -----*/