@import "variables";

.nav__wrap_arenda {
	background-color: $txt;
	.nav__link {
		color: $txtMain;
	}
	.nav__link_active {
		color: $txtMain;
	}
	.navDropdown {
		background-color: $txt;
		&:before {
			background-color: $txt;
		}
	}
	.navDropdown__link {
		color: $txtMain;
		font-weight: 400;
		&:hover {
			font-weight: 700;
		}
	}
}
.pagination_arenda {
	height: 70vh;
	.pag__bg {
		height: 86vh;
		background-color: $txt;
	}
}
.arenda {
	position: relative;
	top: 15vh;
	height: 85vh;
}
.rooms {
	position: relative;
	top: 15vh;
	height: 70vh;
	margin-bottom: 15vh;
}
.arenda {
	z-index: 2;
}
.arenda__video {
	position: relative;
	height: 70vh;
	overflow: hidden;
}
.arendaVideo__cover {
	width: auto;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.play__btn_arenda {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.section__wrap_arenda {
	padding-bottom: 15vh;
}
.arenda__txt {
	position: absolute;
	right: 0;
	box-sizing: border-box;
	height: 100%;
	width: 64%;
	padding-left: 20%;
	padding-right: 7%;
	background-color: $txt;
	z-index: -1;
	transition: all 0.25s;
}
.arendaTxt {
	position: relative;
	width: 100%;
	height: 100%;
}
.arenda__txt_scroll {
	background-color: $bg;
}
.main__head_gallery {
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}
.arenda__table {
	width: 100%;
}
.arendaTable__txt {
	color: $txtMain;
	font-weight: 400;
	font-size: 1em;
	line-height: 1em;
	padding-bottom: 1em;
	&:first-child {
		font-weight: 700;
		padding-right: 6%;
	}
}

.rooms__wrap{
	display: flex;
	justify-content: space-between;	
	width: 85.71%;
}
.room__wrap {
	position: relative;
	height: 70vh;
	text-decoration: none;
	color: $txtRoom;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.3em;
	width: 33.3%;
	box-sizing: border-box;
	border-right: 1px solid $svgTxt;
	&:first-child {
		border-left: 1px solid $svgTxt;
	}
	.room__rented {
		display: none;
	}
}
.room__wrap_rented {
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(12,12,12,0.7);
		z-index: 1;
	}
	.room__rented {
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
		font-size: 1.5em;
		line-height: 1em;
		font-weight: 400;
		color: $bg;
		text-align: center;
		text-transform: uppercase;
		z-index: 1;
	}
}
.room__num {
	color: $red;
	font-size: 8.3em;
	line-height: 1em;
	font-weight: 800;
	padding: 0;
	margin: 0;
}
.room__floor {
	font-size: 1.1em;
	font-weight: 700;
	line-height: 1.2em;
}
.room__txt {
	margin: 0;
}
.room__val {
	font-weight: 700;
}
.room__num,
.room__floor,
.room__txt,
.roomImg {
	margin-left: 25%;
}
.roomImg {
	position: relative;
	width: 75%;
	margin-top: 1em;
	height: 0;
	padding-bottom: 42.2%;
	overflow: hidden;
}
.room__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
}

.arendaSvg {
	position: fixed;
	right: 7%;
	top: 15vh;
	width: 7%;
	height: 75vh;
	opacity: 0;
	transition: all 0.25s 0s;
}
.arendaSvg_shown {
	opacity: 1;
	transition-delay: 0.1s;
}
.arendaSvg__wrap {
	position: relative;
	width: 0;
	height: 100%;
	padding-left: 100%;
	z-index: -1;
}
.arenda__svg {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}
.arendaSvg__txt {
	font-family: 'ProximaNova';
	font-weight: 800;
	font-size: 180px;
	fill: $svgTxt;
	writing-mode: tb;
	glyph-orientation-vertical: 0;
}
@media only screen and (max-width: 1300px) {
	.main__head_gallery {
		font-size: 3em;
	}
}
@media only screen and (max-width: 1199px) {
	.section__wrap_arenda {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding-bottom: 0;
	}
	.rooms {
		height: auto;
		margin-bottom: 10vh;
	}	
	.rooms__wrap {
		width: 97%;
		margin: 0 auto;
	}
	.arendaSvg {
		display: none;
	}
	.room__wrap {
		height: auto;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.footer {
		top: 0;
	}
}
@media only screen and (max-width: 1025px) {
	.arenda {
		margin-bottom: 10vh;
		height: auto;
	}
	.arenda__txt {
		position: relative;
		width: 94%;
		padding-left: 7%;
		padding-bottom: 5%;
		z-index: 1;
	}
	.section__wrap_arenda {
		position: relative;
		top: 0;
		transform: translateY(0%);
	}
	.main__head_gallery {
		font-size: 3.6em;
	}
	.room__num,
	.room__floor,
	.room__txt,
	.roomImg {
		margin-left: 10%;
	}
	.roomImg {
		width: 90%;
		padding-bottom: 50.63%;
	}
}
@media only screen and (max-width: 1025px) and (orientation: landscape) {
	.arendaVideo__cover {
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 650px) {
	.rooms {
		margin-bottom: 0;
	}
	.rooms__wrap {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.room__wrap {
		border-bottom: 1px solid $svgTxt;
		width: 94%;
		border-right: none;
		padding-bottom: 3%;
		padding-top: 3%;
		&:first-child {
			border-left: none;
		}
	}
	.room__num,
	.room__floor,
	.room__txt,
	.roomImg {
		margin-left: 0;
	}
	.roomImg {
		width: 100%;
		padding-bottom: 56.25%;
	}
	.footer {
		margin-top: 15vh;
	}
}
@media only screen and (max-width: 481px) {
	.arendaTable__txt {
		display: block;
	}
	.footer {
		margin-top: 0;
	}
	.main__head_gallery {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 420px) {
	.arenda__txt {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.room__wrap {
		padding-bottom: 5%;
	}
}
@media only screen and (max-width: 770px) and (orientation: portrait) {
	.arenda,
	.rooms {
		top: 8vh;
	}
}
@media only screen and (max-width: 380px) {
	.main__head_gallery {
		font-size: 2em;
	}
}
@media only screen and (max-width: 330px) {
	
}