@import "mixins";
@import "variables";
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
body {
  	background-color: $bg;
  	font-family: 'ProximaNova', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.container {
	width: 86%;
	margin: 0 auto;
}

.main__txt {
	font-size: 1.11em;
	line-height: 1.5em;
	color: $txt;
	font-weight: 400;
}
/*----- Header -----*/
.header {	
  	height: 15vh;
  	width: 100%;
  	background-color: $bg;
  	position: fixed;
	top: 0;
  	z-index: 100;
}
.logo {
	display: inline-block;
	margin-top: 5vh;
	margin-left: 5%;
}
.logo__link {
	display: inline-block;
	width: 24vh;
	height: 6vh;
	background-image: url("../images/logos/InorRuBlk.png");
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -1000px;
}

	/*----- Menu -----*/
.nav__wrap {
	display: inline-block;
	float: right;
	width: 57%;
	height: 9vh;
	padding-top: 6vh;
	background-color: transparent;
	transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.nav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav__item{
	display: inline-flex;
	margin-left: 5%;
	position: relative;
}
.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: $txtSub;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	padding-bottom: 8px;
	padding-top: 8px;
	transition: color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	&:before {
		content: "";
  		position: absolute;
  		top: 0px;
  		left: -100%;
  		width: 100%;
  		height: 100%;
  		background-color: $red;
  		transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:after {
		content: "";
  		position: absolute;
  		bottom: 0;
  		left: 100%;
  		width: 40%;
  		height: 3px;
  		background-color: $red;
  		transition: all .3s;
  		transition-delay: .4s;
	}
	&:hover {
		&:before {
			left: 100%;
		}
		&:after {
			left: 60%;
		}
	}
}
.nav__link_active {
	color: $txt;
	&:after {
		left: 60%;
	}
}
		/*----- DropDown Menu -----*/
.nav__dropdown {
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;			
	min-width: 210px;
	box-shadow: none;
	transition: all 1s;
	&:before {
		position: absolute;
		content: "";
		height: 3px;
		width: 0;
		background-color: $red;
		top: -3px;
		right: 0;
		transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
	}
}
.navDropdown__wrap {
	overflow: hidden;
	position: relative;
}
.navDropdown {
	list-style: none;
	padding: 0;
	background-color: $bg;
	transform: translateY(-100%);
	transition: all 0.25s;
}
.navDropdown__item {
	opacity:0;
    transition: all 0.25s;
}
.navDropdown__link {
	display: block;
	text-decoration: none;
	color: $txtSub;
	line-height: 2.5em;
	text-align: center;
	&:hover {
		color: $txt;
	}
}
.nav__dropdown_opened {
	visibility: visible;
	@include boxShadow();
	transition-delay: 0.5s;
	&:before {				
		width: 100%;
		transition-delay: 0.25s;
	}
	.navDropdown {
		transform: translateY(0%);
		transition-delay: 0.5s;
	}
	.navDropdown__item {
		opacity:1;
       	@for $i from 1 through 7 {
          	&:nth-of-type(#{$i}) {
             	transition-delay: 0.5s + ($i*0.07s);
            }
        }
	}
}
		/*----- /DropDown Menu -----*/

		/*----- Main Menu -----*/
.nav__wrap_main {
	background-color: $red;
	.nav__link {
		color: $txtMain;
		&:before {
	  		background-color: $txtMain;
		}
		&:after {
	  		background-color: $txtMain;
		}
	}
	.nav__link_active {
		color: $txtMain;
	}
	.nav__dropdown {
		&:before {				
			background-color: $txtMain;
		}
		.navDropdown {
			background-color: $red;
		}
		.navDropdown__link {
			color: $txtMain;
			font-weight: 400;
			&:hover {
				font-weight: 700;
			}
		}
	}
}
		/*----- /Main Menu -----*/

	/*----- /Menu -----*/

	/*----- Mobile Menu -----*/
.mobileMenu__btn {
	display: none;
}
	/*----- /Mobile Menu -----*/

/*----- /Header -----*/

/*----- Langueges -----*/
.langueges {
	position: fixed;
	top: 15vh;
	width: 7%;
	height: 75vh;
}
.navLang {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.lang__item {	
	height: 44px;
	width: 44px;
	margin-bottom: 8px;
}
.lang__item:last-child {
	margin-bottom: 0;
}
.lang__link {
	display: inline-block;
	font-size: 1em;
	color: $txtSub;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	width: 44px;
	text-align: center;
}
.lang__link_active {
	color: $txt;
}
/*----- /Langueges -----*/

/*----- Pagination -----*/
.pagination{
	position: fixed;
	top: 15vh;
	width: 7%;
	height: 75vh;
	right: 0;
	z-index: 100;
}
.pag__bg {
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: $bg;
	transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.navPag {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pag__item {
	height: 44px;
	width: 44px;
	margin-bottom: 8px;
}
.pag__item:last-child {
	margin-bottom: 0;
}
.pag__link {
	display: inline-block;
	font-size: 1em;
	color: $txtSub;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	width: 44px;
	text-align: center;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.pag__link_active {
	color: $txtMain;
	font-size: 1.56em;
	background-color: $red;
	box-shadow: 0px 0px 10px 0px rgba(0, 1, 2, 0.7);
}
.pagination_main {
	.pag__bg {
		background-color: $red;
	}
	.pag__link {
		color: $txtMainSub;
	}
}
.pag__arrow{
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	width: 44px;
	height: 44px;
}
.arrow_down {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzlCOUI5Qjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTExNC43LDEuMnYzMjMuMWwtODEuOS04MS45TDEsMjc0LjNsMTM2LjUsMTM2LjVMMjc0LDI3NC4zbC0zMS45LTMxLjlsLTgxLjksODEuOVYxLjJIMTE0Ljd6IE0xMTQuNywxLjIiLz4KPC9nPgo8L3N2Zz4=);
}
.arrow_up {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzlCOUI5Qjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTE2MC4zLDQxMC44Vjg3LjdsODEuOSw4MS45bDMxLjktMzEuOUwxMzcuNSwxLjJMMSwxMzcuN2wzMS45LDMxLjlsODEuOS04MS45djMyMy4xSDE2MC4zeiBNMTYwLjMsNDEwLjgiLz4KPC9nPgo8L3N2Zz4=);
}
.pag__arrow.arrow_up {
	display: none;
}
.arrow_right {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMSwxNjAuM2gxMTI3LjZsLTgxLjksODEuOWwzMS45LDMxLjlMMTIxNSwxMzcuNUwxMDc4LjUsMWwtMzEuOSwzMS45bDgxLjksODEuOUgxVjE2MC4zeiIvPgo8L2c+Cjwvc3ZnPg==);
}
.arrow_left {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIxNSwxMTQuN0g4Ny40bDgxLjktODEuOUwxMzcuNSwxTDEsMTM3LjVMMTM3LjUsMjc0bDMxLjktMzEuOWwtODEuOS04MS45SDEyMTVWMTE0Ljd6Ii8+CjwvZz4KPC9zdmc+);	
}
.arrow_down,
.arrow_up,
.arrow_right,
.arrow_left {
	background-repeat: no-repeat;
	background-position: center;
}
/*----- /Pagination -----*/

/*----- Play Button ------*/
.play__btn {
	position: absolute;
	z-index: 10;
  	box-sizing: content-box;
  	display: block;
  	width: 14px;
  	height: 18px;
  	border-radius: 50%;
  	padding: 26px 25px 26px 31px;
	&:before {
		content: "";
  		position: absolute;
  		z-index: 0;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 65px;
  		height: 65px;
  		background-color: $red;
  		border-radius: 50%;
  		animation: pulse-border 1500ms ease-out infinite;
	}
	&:after {
		content: "";
  		position: absolute;
  		z-index: 1;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 65px;
  		height: 65px;
  		background-color: $red;
  		border-radius: 50%;
  		transition: all 200ms;
	}
	span {
		display: block;
  		position: relative;
  		z-index: 3;
  		width: 0;
  		height: 0;
  		border-left: 14px solid #fff;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		transition: all 200ms;
	}
}
.playBtn:hover {
	.play__btn {
		span {
			border-left: 14px solid $red;
		}
		&:after {
			background-color: #fff;
		}
	}
}
@keyframes pulse-border {
  	0% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    	opacity: 1;
  	}
  	100% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    	opacity: 0;
  	}
}
	/*----- /Play Button ------*/
	
.arrow_right_wht {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuMiwxNjAuM2gzMjMuMWwtODEuOSw4MS45bDMxLjksMzEuOWwxMzYuNS0xMzYuNUwyNzQuMywxbC0zMS45LDMxLjlsODEuOSw4MS45SDEuMlYxNjAuM3ogTTEuMiwxNjAuMyIvPgo8L2c+Cjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position: center;
}
/*----- Footer ------*/
.footer {
	position: relative;
	top: 15vh;
	margin-top: 35vh;
}
.contacts {
	display: flex;
	flex-direction: row;
   	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__contacts {
}
.contact__head {
	font-weight: 700;
	font-size: 1.88em;
	line-height: 1.5em;
	color: $txt;
	text-transform: uppercase;
	margin: 0;
}
.contact__txt {
	display: inline-block;
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1em;
	color: $txtSub;
	margin: 0;
}
.footer__nav {
	margin-top: 10%;
	margin-bottom: 10%;
}
.footerNav {
	padding: 0;
	display: flex;	
	justify-content: space-between;
}
.footerNav__item {
	list-style: none;
}
.footerNav__link {
	font-weight: 700;
	font-size: 1em;
	color: $txtSub;
	text-decoration: none;
	transition: all .4s;
	&:hover {
		color: $txt;
	}
}
/*----- /Footer ------*/

@media only screen and (max-width: 1199px) {
	.container {
		width: 100%;
	}
	.nav__wrap,
	.langueges,
	.pagination {
		display: none;
	}
		/*----- Mobile Menu -----*/
	.mobileMenu__btn {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	.sandwich__btn {
		display: block;
		width: 44px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 5vh;
		margin-right: 5vh;
	}
	.sandwich__line {
		display: block;
		position: relative;
		left: 14px;
		background-color: $red;
		width: 30px;
		height: 4px;
		transition: all .25s;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 4px;			
			background-color: $red;
			transition: all .25s;
		}
		&:before {
			top: -10px;
			left: -14px;
			width: 44px;
		}
		&:after {
			top: 10px;
			right: 0;
			width: 16px;
		}
	}
	.sandwich__btn_close {
		.sandwich__line {
			background-color: transparent;
			&:before {
				top: 0;
				left: -14px;
				transform: rotate(45deg);
			}
			&:after {
				top: 0;
				right: 0;
				width: 44px;
				transform: rotate(-45deg);
			}
		}
	}
	.mobile__menu {
		position: absolute;
		top: 15vh;
		width: 100%;
	}
	.menuMobile__wrap {
		background-color: $bg;
		padding: 10%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.menuMobile,
	.mobile__lang {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.menuMobile__link {
		display: block;
		font-weight: 700;
		text-decoration: none;
		color: $txtSub;
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 2em;
		text-align: center;
	}
	.mobile__lang {
		display: flex;
		width: 200px;
		justify-content: space-around;
		margin: 5% auto;
	}
	.menuLang__link {
		font-weight: 700;
		text-decoration: none;
		color: $txtSub;
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 2em;
	}


		/*----- /Mobile Menu -----*/

	.contacts,
	.footer__nav {
		padding: 0 5%;
	}
	.footer__contacts {
		flex: 1 100%;
	}
}
@media only screen and (max-width: 600px) {
	.contacts {
		margin-bottom: 10vh;
	}
	.footer__nav {
		display: none;
	}
}