@import "mixins";
@import "variables";
body {
  	background-color: $bg;
  	font-family: 'ProximaNova';
	font-size: 16px;
	font-weight: 400;
}

.container {
	width: 86%;
	margin: 0 auto;
}

.main__txt {
	font-size: 1.11em;
	line-height: 1.5em;
	color: $txt;
	font-weight: 400;
}
/*----- Header -----*/
.header {	
  	height: 15vh;
  	width: 100%;
  	margin-top: -15vh;
  	background-color: $bg;
  	position: absolute;
}
.logo {
	display: inline-block;
	margin-top: 5vh;
	margin-left: 5%;
}
.logo__link {
	display: inline-block;
	width: 24vh;
	height: 6vh;
	background-image: url("../images/logos/InorRuBlk.png");
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -1000px;
}

	/*----- Menu -----*/
.nav__wrap {
	display: inline-block;
	float: right;
	width: 57%;
	height: 9vh;
	padding-top: 6vh;
	background-color: transparent;
}
.nav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav__item{
	display: inline-flex;
	margin-left: 5%;
}
.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: $txtSub;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	padding-bottom: 8px;
	padding-top: 8px;
	&:before {
		content: "";
  		position: absolute;
  		top: 0px;
  		left: -100%;
  		width: 100%;
  		height: 100%;
  		background: $red;
  		transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:after {
		content: "";
  		position: absolute;
  		bottom: 0;
  		left: 100%;
  		width: 40%;
  		height: 3px;
  		background: $red;
  		transition: all .3s;
  		transition-delay: .4s;
	}
	&:hover {
		&:before {
			left: 100%;
		}
		&:after {
			left: 60%;
		}
	}
}
.nav__link_active {
	color: $txt;
	&:after {
		left: 60%;
	}
}

		/*----- Main Menu -----*/
.nav__wrap_main {
	background-color: $red;
	.nav__link {
		color: $txtMain;
		&:before {
	  		background: $txtMain;
		}
		&:after {
	  		background: $txtMain;
		}
	}
	.nav__link_active {
		color: $txtMain;
	}
}
		/*----- /Main Menu -----*/

	/*----- /Menu -----*/

/*----- /Header -----*/

/*----- Langueges -----*/
.langueges {
	position: absolute;
	width: 7%;
	height: 75vh;
}
.navLang {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.lang__item {	
	height: 44px;
	width: 44px;
	margin-bottom: 8px;
}
.lang__item:last-child {
	margin-bottom: 0;
}
.lang__link {
	display: inline-block;
	font-size: 1em;
	color: $txtSub;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	width: 44px;
	text-align: center;
}
.lang__link_active {
	color: $txt;
}
/*----- /Langueges -----*/

/*----- Pagination -----*/
.pagination{
	position: absolute;
	width: 7%;
	height: 75vh;
	right: 0;
}
.pag__bg {
	display: none;
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: $red;
}
.navPag {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pag__item {
	height: 44px;
	width: 44px;
	margin-bottom: 8px;
}
.pag__item:last-child {
	margin-bottom: 0;
}
.pag__link {
	display: inline-block;
	font-size: 1em;
	color: $txtSub;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	width: 44px;
	text-align: center;
}
.pag__link_active {
	color: $txtMain;
	font-size: 1.56em;
	background-color: $red;
	box-shadow: 0px 0px 10px 0px rgba(0, 1, 2, 0.7);
}
.pagination_main {
	.pag__bg {
		display: block;
	}
	.pag__link {
		color: $txtMainSub;
	}
}
.pag__arrow{
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	width: 44px;
	height: 44px;
}
.arrow_down {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzlCOUI5Qjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTExNC43LDEuMnYzMjMuMWwtODEuOS04MS45TDEsMjc0LjNsMTM2LjUsMTM2LjVMMjc0LDI3NC4zbC0zMS45LTMxLjlsLTgxLjksODEuOVYxLjJIMTE0Ljd6IE0xMTQuNywxLjIiLz4KPC9nPgo8L3N2Zz4=);
}
.arrow_up {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNzUgNDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNzUgNDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTE2MC4zLDQxMC44Vjg3LjdsODEuOSw4MS45bDMxLjktMzEuOUwxMzcuNSwxLjJMMSwxMzcuN2wzMS45LDMxLjlsODEuOS04MS45djMyMy4xSDE2MC4zeiBNMTYwLjMsNDEwLjgiLz4KPC9nPgo8L3N2Zz4=);
}
.arrow_right {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMSwxNjAuM2gxMTI3LjZsLTgxLjksODEuOWwzMS45LDMxLjlMMTIxNSwxMzcuNUwxMDc4LjUsMWwtMzEuOSwzMS45bDgxLjksODEuOUgxVjE2MC4zeiIvPgo8L2c+Cjwvc3ZnPg==);
}
.arrow_left {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMjE2IDI3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIxNiAyNzU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOUI5QjlCO30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIxNSwxMTQuN0g4Ny40bDgxLjktODEuOUwxMzcuNSwxTDEsMTM3LjVMMTM3LjUsMjc0bDMxLjktMzEuOWwtODEuOS04MS45SDEyMTVWMTE0Ljd6Ii8+CjwvZz4KPC9zdmc+);	
}
.arrow_down,
.arrow_up,
.arrow_right,
.arrow_left {
	background-repeat: no-repeat;
	background-position: center;
}
/*----- /Pagination -----*/

/*----- Play Button ------*/
.play__btn {
	position: absolute;
	z-index: 10;
  	box-sizing: content-box;
  	display: block;
  	width: 18px;
  	height: 24px;
  	border-radius: 50%;
  	padding: 28px 28px 28px 34px;
	&:before {
		content: "";
  		position: absolute;
  		z-index: 0;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 80px;
  		height: 80px;
  		background-color: $red;
  		border-radius: 50%;
  		animation: pulse-border 1500ms ease-out infinite;
	}
	&:after {
		content: "";
  		position: absolute;
  		z-index: 1;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 80px;
  		height: 80px;
  		background-color: $red;
  		border-radius: 50%;
  		transition: all 200ms;
	}
	span {
		display: block;
  		position: relative;
  		z-index: 3;
  		width: 0;
  		height: 0;
  		border-left: 18px solid #fff;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		transition: all 200ms;
	}
}
.playBtn:hover {
	.play__btn {
		span {
			border-left: 18px solid $red;
		}
		&:after {
			background-color: #fff;
		}
	}
}
@keyframes pulse-border {
  	0% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    	opacity: 1;
  	}
  	100% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    	opacity: 0;
  	}
}
	/*----- /Play Button ------*/
	
.arrow_right_wht {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuMiwxNjAuM2gzMjMuMWwtODEuOSw4MS45bDMxLjksMzEuOWwxMzYuNS0xMzYuNUwyNzQuMywxbC0zMS45LDMxLjlsODEuOSw4MS45SDEuMlYxNjAuM3ogTTEuMiwxNjAuMyIvPgo8L2c+Cjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position: center;
}
@media only screen and (max-width: 800px) {
	.container {
		width: 100%;
	}
	.nav__wrap,
	.langueges,
	.pagination {
		display: none;
	}
}