@import "mixins";
@import "variables";
@mixin padding-hor($pad:auto) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin padding-ver($pad:0) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

/*----- Main -----*/
.main {
	height: 75vh;
	margin-bottom: 10vh;
	overflow: hidden;
	position: relative;
	top: 15vh;
}

	/*----- Video -----*/
.main__video {
	z-index: -100;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.8);	
	transition: opacity 0.2s ease-out 0.1s;
}
.video__container {
	width: 86%;
	height: 75vh;
	margin-top: 2.5vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	clip: rect(0,0,100vh,0);
	transition: clip 0s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.2s;
}
.video__wrap {
	position: relative;
	/*padding-bottom: 56.25%; /* 16:9 *//*
	padding-top: 25px;
	height: 0;*/
	width: 100%;
	height: 100%;
	background-color: $red;	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 1s ease-in 0.5s;
	}
}
.close__btn {
	width: 40px;
	height: 40px;
	color: $red;
	opacity: 0.7;
	text-align: center;
	line-height: 40px;
	position: absolute;
	right: 5vh;
	top: 5vh;
	cursor: pointer;
	font-size: 30px;
	&:hover {
		opacity: 1;
	}
}
	/*----- /Video -----*/

.main__bg {
	background-image: url("../images/bud5.jpg");
	background-size: cover;
	background-position: top left;
	height: 75vh;
	width: 100%;
}

	/*----- Play Button ------*/
.playBtn {
	color: #fff;
	text-decoration: none;	
}
.playBtn__txt {
	display: inline-block;
	position: absolute;
 	top: 45%;
  	margin: 0;
  	margin-left: 10%;
  	padding-left: 105px;
	font-size: 1.89em;
	line-height: 70px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px $txtSub;
}
.play__btn_main {
 	top: 45%;
  	margin-left: 10%;
}

	/*----- /Play Button ------*/

	/*----- Play Start Animation -----*/
.main__video.play__start {
	z-index: 100;
	opacity: 1;
	transition-duration: 1s;
	.video__container {
		clip: rect(0,100vw,100vh,0);
		transition-duration: 1s;
	}
	.video__wrap {
		iframe {
			opacity: 1;
		}
	}
}
	/*----- /Play Start Animation -----*/

/*----- /Main -----*/

/*----- Objects -----*/
.objects {
	box-sizing: border-box;
	position: relative;
	top: 15vh;
	height: 75vh;
	margin-bottom: 10vh;
}
.objectsSvg__wrap {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 20%;
	z-index: -1;
}
.objects__svg {
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	height: 100%;
}
.objectsSvg__txt {
	font-family: 'ProximaNova';
	font-weight: 800;
	font-size: 170px;
	fill: $svgTxt;
}

	/*----- Back Button -----*/
.back__btn {
	visibility: hidden;
	position: fixed;
	right: 4%;
	top: 4%;
	line-height: 44px;
	transform: translateZ(1px);
	overflow: hidden;
	padding: 12px 0;
	z-index: 103;
	.backBtn {
		display: inline-block;
		transform: translateX(100%);
		transition: transform 0.25s $timing-one 0s;
		padding: 0 1em;
		color: $red;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.7s $timing-one 0s;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $red;
			transform: translateX(100%) translateZ(-1px);
			transition: transform 0.5s $timing-one 0s;
			z-index: -1;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: translateX(0) translateZ(-1px);
			}
		}
	}
	&.opened {
		visibility: visible;
		.backBtn {
			transform: translateX(0);
			transition: transform 0.25s $timing-one 1.5s;
		}
	}
}
	/*----- /Back Button -----*/

	/*----- Slider -----*/
.objectSlider__item {
	margin-bottom: 20px;
	margin-top: 20px;
}
.slide__cover {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 99;
}
.slide__head {
	position: absolute;
	top: 60%;
	left: -10%;
	background-color: $red;
	text-decoration: none;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
	cursor: pointer;
	clip: rect(100vh, 100vw, 100vh, 0);
	transition: clip 0.75s $timing-one 0.3s;
	z-index: 100;
}
.slideHead {
	color : $txtMain;
	text-transform: uppercase;
	font-size: 2em;
	transform: translateY(160%);
	transition: transform 0.75s $timing-one 0.3s;
}
.owl-item.active .objectSlider__item{
	.slide__head {
		clip: rect(0, 100vw, 100vh, 0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
	.slideHead {
		transform: translateY(0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
}
	/*----- /Slider -----*/

	/*----- Slide Articles -----*/
.object__slides {
	margin-top: -14%;
}
.slide__article {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: $txt;
	background: #fff;
	z-index: 99999;
	opacity: 0;
	transition: opacity 0.75s ease-in;
	display: none;
	pointer-events: none;
	@include boxShadow();

}
.slide__article:target {
	display: block;
	pointer-events: auto;
	animation: rollOut 0.75s $timing-one 0.8s forwards;
	overflow-y: auto;
	z-index: 101;
	/*opacity: 1;*/
}

.slideArt__head {
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 2%;
	text-transform: uppercase;
	font-size: 2em;
}
.main__txt_slide {
	width: 50%;
	padding-left: 20%;
	padding-bottom: 1%;
}
.slideImg__wrap {
	padding-left: 20%;
	padding-bottom: 1%;
	width: 60%;
}
.slide__img {
	width: 100%;
	height: auto;
}
.slideArt__head,
.main__txt_slide,
.slideImg__wrap {
	transform: translateY(10vw);
	opacity: 0;
}
	/*----- /Slide Articles -----*/

	/*----- Slider Navigation -----*/
.slider__nav {
	float: right;
	padding-right: 3%;
}
.slideNav__btn {
	display: inline-block;
	float: left;
	line-height: 44px;
	height: 44px;
	text-decoration: none;
	color: $txtSub;
	margin-right: 15px;
}
.slideNav__btn:last-child {
	margin-right: 0;
}
.slideNav__btn_next,
.slideNav__btn_prev {
	width: 80px;

}
	/*----- /Slider Navigation -----*/

	/*----- Slider Animations -----*/
.objectSlider__item.opened {
	
	.slide__bg {
		animation: rollIn 0.75s $timing-one 0s forwards;
	}
	.slide__head {		
		&.active {
			animation: colapse 0.75s $timing-one 0s forwards;
		}
	}
	
}
.slide__article.active {
	.slideArt__head,
	.main__txt_slide,
	.slideImg__wrap {
		animation: slideUp 1.5s $timing-one 1.6s forwards;
	}
}	
@keyframes rollIn {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}
@keyframes rollOut {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes colapse {
	from {
		clip: rect(0, 100vw, 100vh, 0);
	}
	to {
		clip: rect(0, 0, 100vh, 0);
	}
}
@keyframes slideUp {
	from {
		transform: translateY(20vw);
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
	/*----- /Slider Animations -----*/

/*----- /Objects -----*/

/*----- Company -----*/
.company {
	height: 75vh;
	position: relative;
	top: 15vh;
	margin-bottom: 10vh;
}
.companySvg__wrap {
	position: relative;
	width: 90%;
	height: 0;
	padding-bottom: 20%;
	z-index: -1;
}
.company__svg {
	position: absolute;
	top: -50%;
	left: 0;
	width: 100%;
	height: 100%;
}
.companySvg__txt {
	font-family: 'ProximaNova';
	font-weight: 800;
	font-size: 209px;
	fill: $svgTxt;
}
.company__txt {
	margin-top: -12%;
}
.companyTxt {	
	padding: 3% 5%;
}

.info__btn {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: $txtMain;
	line-height: 1.5em;
	background-color: $red;
	padding: 0.66em 6em  0.66em 1em;
	position: relative;
	&:after {
		content: "";
		display: block;		
		height: 1.5em;
		width: 2em;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuMiwxNjAuM2gzMjMuMWwtODEuOSw4MS45bDMxLjksMzEuOWwxMzYuNS0xMzYuNUwyNzQuMywxbC0zMS45LDMxLjlsODEuOSw4MS45SDEuMlYxNjAuM3ogTTEuMiwxNjAuMyIvPgo8L2c+Cjwvc3ZnPg==);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		right: 3em;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s ease-in 0s;
	}
	&:hover {
		&:after {
			right: 2em;
		}
	}
}
.company__video {
	position: relative;
	margin-top: -12%;
}
.companyVideo__cover {
	width: 100%;
	height: auto;
}
.play__btn_company {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*----- /Company -----*/

/*----- Reputation -----*/
.reputation {
	height: 75vh;	
	position: relative;
	top: 15vh;
	margin-bottom: 10vh;
}
.reputation__txt {
	background-color: #e4e4e4;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
	box-sizing: border-box;
}
.reputationSvg__wrap {
	position: relative;
	width: 33%;
	height: 0;
	padding-bottom: 11%;
	z-index: -1;
}
.reputation__svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.reputationSvg__txt {
	font-family: 'ProximaNova';
	font-weight: 800;
	font-size: 70px;
	fill: $txt;
}
.main__txt_reputation {
	width: 33%;
}
.reputation__logos {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	right: 0;
	margin-top: 5%;
	margin-right: 15px;
	padding: 3%;
	box-sizing: border-box;
	background-color: $bg;
	box-shadow: 0px 0px 15px 0px rgba(0, 1, 2, 0.12);
}
.reputationLogo__wrap {
	width: 21%;
	margin: 5% 0;
}
.reputation__logo {
	width: 100%;
	height: auto;
}
/*----- /Reputation -----*/

/*----- Mobile -----*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait)  {
	.objects,
	.company,
	.reputation {
		height: 40vh;
	}
	.footer {
		margin-top: 10vh;
	}
}
@media only screen and (max-width: 1200px) {
	/*----- Reputation -----*/
	.reputation__logos {
		margin-right: 0;
	}
	.reputationLogo__wrap {
		width: 30%;
		margin: 3% 0;
	}
	/*----- /Reputation -----*/
}

@media only screen and (max-width: 800px) {
	/*----- Objects -----*/
		/*----- Slider -----*/
	.slide__head {
		left: 0;
		top: 45%;
	}

		/*----- /Slider -----*/

	/*----- /Objects -----*/

	/*----- Company -----*/
	.companySvg__wrap {
		margin: 0 auto;
	}
	.company__video {
		margin-top: 1%;
	}
	/*----- /Company -----*/

	/*----- Reputation -----*/
	.reputationSvg__wrap {
		width: 90%;
		padding-bottom: 30%;
	}
	.main__txt_reputation {
		width: 100%;
	}
	.reputation__logos {
		position: relative;
		box-shadow: none;
	}
	/*----- /Reputation -----*/
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
	/*----- Objects -----*/
		/*----- Slider -----*/
	.slide__cover {
		padding-bottom: 100%;
	}
}
@media only screen and (max-width: 769px) {
	.slide__head {
		left: -40px;
	}
	.company,
	.reputation,
	.objects {
		height: 90vh;
	}
	.objects {
		margin-bottom: 15vh;
	}
}
@media only screen and (max-width: 760px) {
	/*----- Reputation -----*/
	.reputationLogo__wrap {
		width: 40%;
		margin: 3% 0;
	}
	/*----- /Reputation -----*/
	
}
@media only screen and (max-width: 650px) {
	.slideHead {
		font-size: 1.6em;
	}
}
@media only screen and (max-width: 500px) {
	.slideHead {
		font-size: 1.3em;
	}
}