@import "mixins";
@mixin padding-hor($pad:auto) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin padding-ver($pad:0) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

/*----- Variables -----*/
$red: #cc2a3a;
$bg: #f4f3f3;
$txtMain: #fff;
$txt: #333333;
$txtSub: #9b9b9b;
/*----- /Variables -----*/


body {
  	background-color: $bg;
  	font-family: 'ProximaNova';
	font-size: 18px;
}

/*----- Header -----*/
.header {	
  	height: 15vh;
  	width: 100%;
  	margin-top: -15vh;
  	background-color: $bg;
  	position: fixed;
}
.logo {
	display: inline-block;
	margin-top: 5vh;
	margin-left: 5%;
}
.logo__link {
	display: inline-block;
	width: 24vh;
	height: 6vh;
	background-image: url("../images/logos/InorRuBlk.png");
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -1000px;
}

/*----- Menu -----*/
.nav__wrap {
	display: inline-block;
	float: right;
	width: 50%;
	height: 9vh;
	padding-top: 6vh;
	background-color: transparent;
}
.nav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav__item{
	display: inline-flex;
	justify-content: space-around;
	margin-left: 3%;
}
.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: $txtSub;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	padding-bottom: 8px;
	padding-top: 8px;
	&:before {
		content: "";
  		position: absolute;
  		top: 0px;
  		left: -100%;
  		width: 100%;
  		height: 100%;
  		background: $red;
  		transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:after {
		content: "";
  		position: absolute;
  		bottom: 0;
  		left: 100%;
  		width: 40%;
  		height: 3px;
  		background: $red;
  		transition: all .3s;
  		transition-delay: .4s;
	}
	&:hover {
		&:before {
			left: 100%;
		}
		&:after {
			left: 60%;
		}
	}
}
.nav__link_active {
	color: $txt;
	&:after {
		left: 60%;
	}
}

/*----- Main Menu -----*/
.nav__wrap_main {
	background-color: $red;
	.nav__link {
		color: $txtMain;
		&:before {
	  		background: $txtMain;
		}
		&:after {
	  		background: $txtMain;
		}
	}
	.nav__link_active {
		color: $txtMain;
	}
}
/*----- /Main Menu -----*/

/*----- /Menu -----*/

/*----- /Header -----*/

/*----- Langueges -----*/
.langueges {
	position: fixed;
	width: 7%;
	height: 75vh;
}
.navLang {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.lang__item {	
	height: 44px;
	width: 44px;
	margin-bottom: 8px;
}
.lang__item:last-child {
	margin-bottom: 0;
}
.lang__link {
	display: inline-block;
	font-size: 1em;
	color: $txtSub;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	width: 44px;
	text-align: center;
}
.lang__link_active {
	color: $txt;
}
/*----- /Langueges -----*/

.container {
	width: 86%;
	max-width: 1200px;
	margin: 0 auto;
}

/*----- Main -----*/
.main {
	height: 75vh;
	margin-top: 15vh;
	overflow: hidden;
}

/*----- Video -----*/
.main__video {
	z-index: -100;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.8);	
	transition: opacity 0.2s ease-out 0.1s;
}
.video__container {
	width: 80%;
	max-width: 640px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	clip: rect(0,0,100vh,0);
	transition: clip 0s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.2s;
}
.video__wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	background-color: $red;	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 1s ease-in 0.5s;
	}
}
.close__btn {
	width: 40px;
	height: 40px;
	color: $red;
	opacity: 0.7;
	text-align: center;
	line-height: 40px;
	position: absolute;
	right: 0;
	top: 0;	
	margin-right: 5%;
	margin-top: 20vh;
	cursor: pointer;
	font-size: 30px;
	border: 2px solid $red;
	border-radius: 50%;
	&:hover {
		opacity: 1;
	}
}
/*----- /Video -----*/

.main__bg {
	background-image: url("../images/bud5.jpg");
	background-size: cover;
	background-position: top left;
	height: 75vh;
	width: 100%;
}

/*----- Play Button ------*/
.playBtn {
	color: #fff;
	text-decoration: none;	
}
.playBtn__txt {
	display: inline-block;
	position: absolute;
 	top: 45%;
  	margin: 0;
  	margin-left: 10%;
  	padding-left: 120px;
	font-size: 1.89em;
	line-height: 80px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px $txtSub;
}
.play__btn {
	position: absolute;
	z-index: 10;
 	top: 45%;
  	box-sizing: content-box;
  	display: block;
  	width: 18px;
  	height: 24px;
  	border-radius: 50%;
  	margin-left: 10%;
  	padding: 28px 28px 28px 34px;
	&:before {
		content: "";
  		position: absolute;
  		z-index: 0;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 80px;
  		height: 80px;
  		background-color: $red;
  		border-radius: 50%;
  		animation: pulse-border 1500ms ease-out infinite;
	}
	&:after {
		content: "";
  		position: absolute;
  		z-index: 1;
  		left: 50%;
  		top: 50%;
  		transform: translateX(-50%) translateY(-50%);
  		display: block;
  		width: 80px;
  		height: 80px;
  		background-color: $red;
  		border-radius: 50%;
  		transition: all 200ms;
	}
	span {
		display: block;
  		position: relative;
  		z-index: 3;
  		width: 0;
  		height: 0;
  		border-left: 18px solid #fff;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		transition: all 200ms;
	}
}
.playBtn:hover {
	.play__btn {
		span {
			border-left: 18px solid $red;
		}
		&:after {
			background-color: #fff;
		}
	}
}
@keyframes pulse-border {
  	0% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    	opacity: 1;
  	}
  	100% {
    	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    	opacity: 0;
  	}
}
/*----- /Play Button ------*/

/*----- Play Start Animation -----*/
.main.play__start {
	.main__video {
		z-index: 100;
		opacity: 1;
		transition-duration: 1s;
	}
	.video__container {
		clip: rect(0,100vh,100vh,0);
		transition-duration: 1s;
	}
	.video__wrap {
		iframe {
			opacity: 1;
		}
	}
}
/*----- /Play Start Animation -----*/

/*----- /Main -----*/
