@import "variables";
@mixin boxShadow() {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
/*----- Main -----*/
.main {
	height: 75vh;
	margin-bottom: 10vh;
	overflow: hidden;
	position: relative;
	top: 15vh;
}
.main__bg {
	background-image: url("../images/bud3.jpg");
	background-size: cover;
	background-position: top left;
	height: 75vh;
	width: 100%;
}

	/*----- Play Button ------*/
.playBtn {
	color: #fff;
	text-decoration: none;	
}
.playBtn__txt {
	display: inline-block;
	position: absolute;
 	top: 45%;
  	margin: 0;
  	margin-left: 10%;
  	padding-left: 105px;
	font-size: 1.89em;
	line-height: 70px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px $txtSub;
}
.play__btn_main {
 	top: 45%;
  	margin-left: 10%;
}

	/*----- /Play Button ------*/

/*----- /Main -----*/

.object {
	height: 85vh;
	position: relative;
	top: 15vh;
	margin-bottom: 10vh;
}
.object__wrap {
	background-color: $bgObj;
	position: relative;
	top: 10vh;
	min-height: 75vh;
}
.objectTxt {
	box-sizing: border-box;
	width: 50%;
	padding-left: 5%;
	padding-bottom: 3%;
	padding-top: 3%;
}
.object__head {
	color: $txt;
	font-size: 3.5em;
	line-height: 0.9em;
	font-weight: 800;
	margin: 0;
}
.object__txt {
	color: $txtObj;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 400;
}
.object__txt_sup {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: 800;
}
.sliderControl__btn {
	display: inline-block;
	position: relative;
	height: 44px;
	width: 60px;
	background-color: $red;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: 1.5em;
		width: 2em;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.sliderControl__btn_prev {
	margin-right: 1em;
	&:before {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTQxMC44LDExNC43SDg3LjdsODEuOS04MS45TDEzNy43LDFMMS4yLDEzNy41TDEzNy43LDI3NGwzMS45LTMxLjlsLTgxLjktODEuOWgzMjMuMVYxMTQuN3ogTTQxMC44LDExNC43Ii8+CjwvZz4KPC9zdmc+);
	}
}
.sliderControl__btn_next:before {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0MTIgMjc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MTIgMjc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuMiwxNjAuM2gzMjMuMWwtODEuOSw4MS45bDMxLjksMzEuOWwxMzYuNS0xMzYuNUwyNzQuMywxbC0zMS45LDMxLjlsODEuOSw4MS45SDEuMlYxNjAuM3ogTTEuMiwxNjAuMyIvPgo8L2c+Cjwvc3ZnPg==);
}


.slider__wrap {
	width: 36%;
	position: absolute;
	top: -10vh;
	right: 7%;
}
.slider__item {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 110%;
	overflow: hidden;
}
.slider__img {
	position: absolute;
	width: auto;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.owl-carousel .owl-item img {
	width: auto;
}
.slider__pag {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
}
.sliderPag {
	margin: 0;
	padding: 0 0.5em;
	font-weight: 700;
	transition: all 0.25s;
}
.sliderPag_current {
	font-size: 3.5em;
	color: $pagCur;
	border-right: 2px solid $pagCur;
}
.sliderPag_all {
	font-size: 2em;
	color: $pagAll;
}
@media only screen and (max-width: 1025px) {
	.object {
		margin-bottom: 0;
	}
	.object__wrap {
		min-height: auto;
	}
	.footer {
		margin-top: 0;
	}
}
@media only screen and (max-width: 770px) {
	.object {
		margin-bottom: 10vh;
		height: auto;
	}
	.object__wrap {
		top: 0;
	}
	.objectTxt {
		width: 100%;
		padding-right: 5%;
	}
	.object__txt {
		line-height: 1.5em;
	}
	.slider__wrap {
		position: relative;
		top: 0;
		right: -5%;
		width: 90%;
		padding-bottom: 5%;
	}
	.slider__item {
		padding-bottom: 100%;
	}
}
@media only screen and (max-width: 770px) and (orientation: landscape) {
	.slider__item {
		padding-bottom: 50%;
	}
	.slider__img {
		width: 100%;
		height: auto;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.owl-carousel .owl-item img {
		width: 100%;
	}
}
@media only screen and (max-width: 380px) {
	.object__head {
		font-size: 3em;
	}
}
@media only screen and (max-width: 321px) {
	.object__head {
		font-size: 2.7em;
	}
}